.view{
    height: 85vh;
}

.ui{
background-color: white;
width: 70vw;
height: 100%;
padding: 20px;
border-radius: 18px;
}

.ui h3{
text-align: center;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
}

.tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela tr:hover {
    background-color: #f1f1f1;
}
